<!DOCTYPE HTML>
<html>
	<head>
		<title>Quizzes</title>
		<!-- <link href="../static/css/allQuiz.css" rel="stylesheet"> -->
		 <link rel="stylesheet" href="{{ url_for('static', filename='css/allQuiz.css') }}"> 
	</head>
<style>
h3{
	color: blue;
}
</style>
	<body>
	
	<div id="container">
		<div class="welcome">
			<h1 align="center"> Welcome {{ name }} </h1>
			<form action="{{ url_for('logout') }}" >
			<input class="logout" type="submit" value="Logout" />
			</form>
		</div>
		<hr>
		<div>
		<table id="table2">
			<tr>
				<td>
					<div class="quiz-card">
						<a href="{{ url_for('check', type='Cplusplus') }}">
						<img src="../static/images/c++.png" alt="C++" name="cpp" title="CPP Quiz">
						</a>
					</div>
				</td>
				
				<td>
					<div class="quiz-card">
						<a href="{{ url_for('check', type='Java') }}">
						<img src="../static/images/java.jpg" alt="JAVA" name="java" title="JAVA Quiz">
						</a>
					</div>
				</td>
				
				<td>
					<div class="quiz-card">
						<a href="{{ url_for('check', type='Python') }}">
						<img src="../static/images/python.jpeg" alt="Python" name="python" title="Python Quiz">
						</a>
					</div>
				</td>
			</tr>
			
			<tr>
				<td>
					<div class="quiz-card">
						<a href="{{ url_for('check', type='MySQL') }}">
						<img src="../static/images/mysql.png" alt="MySQL" name="mysql" title="MySQL Quiz">
						</a>
					</div>
				</td>
		
				<td>
					<div class="quiz-card">
						<a href="{{ url_for('check', type='JavaScript') }}">
						<img src="../static/images/javascript.png" alt="JavaScript" name="jscript" title="JavaScript Quiz">
						</a>
					</div>
				</td>
				
				<td>
					<div class="quiz-card">
						<a href="{{ url_for('check', type='Aptitude') }}">
						<img src="../static/images/aptitude.jpeg" alt="Aptitude" name="apti" title="Aptitude">
						</a>
					</div>
				</td>
			</tr>
		</table>
		</div>
	</div>
	</body>
</html>
