<!DOCTYPE HTML>
<html>
	<head>
		<title>Registration</title>
		<!--<link href="../static/css/login.css" rel="stylesheet"> -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
		<link rel="icon" href="{{ url_for('static', filename='images/tiango.png') }}" type="image" sizes="20x20">
	</head>
<style>
h3{
	color: red;
}
</style>
	<body>


	<div id='container'>
	<h1>Welcome to Tiango Quiz!!</h1>
	<h2 align="center">User Registration</h2>
  <div class='signup'>
     <form action="{{ url_for('signupValidate') }}" method="POST">

       <input type='text' placeholder="Name:" name="uname" title="Enter your name" required />
       <input type='text' placeholder="User ID:" name="userID" title="Enter your User ID of min 4 characters. Space not allowed" minlength="4" maxlength="16" pattern="^\S+$" required />
       <input type='password' placeholder="Password:" name="pwd" title="Enter password of min 6 characters. Space not allowed" minlength="6" maxlength="16" pattern="^\S+$" required />
       <input type='submit' value="Register" placeholder='SUBMIT' />
       {% with messages = get_flashed_messages() %}
			  {% if messages %}
				{% for message in messages %}
				  <h3>{{ message }}</h3>
				{% endfor %}
			  {% endif %}
			{% endwith %}
       <p>Already have an account. <a href="{{ url_for('index') }}">Login</a></p>

     </form>
  </div>
</div>




	</body>
</html>
